  <div class="contact-list-container">
    <h2>Contact List</h2>

    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search contacts..."
        class="search-input"
      >
    </div>

    <div class="contact-list">
      <ul>
        <li *ngFor="let contact of filteredContacts()">
          <a [routerLink]="['/contact-details', contact.id]" class="contact-link">
            <span class="contact-name">{{ contact.firstName }} {{ contact.lastName }}</span>
            <span class="contact-phone">{{ contact.phoneNumber }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="add-contact-container">
      <button [routerLink]="['/contact-form']" class="add-contact-button">Add New Contact</button>
    </div>
  </div>

