.contact-list-container {
  margin: auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #dbb7b0;
  border-radius: 8px;
  background-color: #a9cfc9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-list-container h2 {
  color: #265d53;
  text-align: center;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 96%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dbb7b0;
  border-radius: 4px;
}

.search-input:focus {
  border-color: #419e8c;
  outline: none;
}

.contact-list {
  max-height: 350px;
  overflow-y: auto;
}

.contact-list ul {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.contact-link {
  text-decoration: none;
  color: #265d53;
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.contact-link:hover {
  background-color: #dbb7b0;
}

.contact-name {
  font-weight: bold;
}

.contact-phone {
  font-style: italic;
}

.add-contact-container {
  margin-top: 20px;
  text-align: center;
}

.add-contact-button {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  background-color: #419e8c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-contact-button:hover {
  background-color: #305858;
}

.contact-list::-webkit-scrollbar {
  width: 12px;
}

.contact-list::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 8px;
}

.contact-list::-webkit-scrollbar-thumb {
  background-color: #419e8c;
  border-radius: 8px;
  border: 3px solid #f4f4f4;
}

.contact-list::-webkit-scrollbar-thumb:hover {
  background-color: #305858;
}

/* Fallback styles for non-webkit browsers */
.contact-list {
  scrollbar-width: thin;
  scrollbar-color: #419e8c #f4f4f4;
}

@media (max-width: 768px) {
  .contact-list-container {
    width: 60%;
    padding: 10px;
  }

  .search-input, .add-contact-button {
    font-size: 14px;
    padding: 8px;
  }

  .contact-list li {
    padding: 8px 0;
  }

  .contact-name, .contact-phone {
    font-size: 14px;
  }

  .add-contact-button {
    font-size: 14px;
    padding: 8px 0;
  }
}

@media (max-width: 400px) {
  .contact-list-container {
    width: 80%;
    padding: 5px;
  }

  .search-input, .add-contact-button {
    font-size: 12px;
    padding: 6px;
  }

  .contact-list li {
    padding: 6px 0;
  }

  .contact-name, .contact-phone {
    font-size: 12px;
  }

  .add-contact-button {
    font-size: 12px;
    padding: 6px 0;
  }
}
